.tbContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  bottom: 500px;
}

.Pomodoro {
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  background: black;
  color: white;
  padding: 10px 25px;
  border: 1px solid white;
  transition: background-color 0.2s;
}

.Pomodoro:hover {
  background-color: white;
  color: black;
  border-color: 1px solid transparent;
}

.SB {
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  background: black;
  color: white;
  padding: 10px 25px;
  border: 1px solid white;
  transition: background-color 0.2s;
}
.SB:hover {
  background-color: white;
  color: black;
  border-color: 1px solid transparent;
}
.LB {
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  background: black;
  color: white;
  padding: 10px 25px;
  border: 1px solid white;
  transition: background-color 0.2s;
}

.LB:hover {
  background-color: white;
  color: black;
  border-color: 1px solid transparent;
}

@media (max-width:420px){
  .tbContainer{
    bottom: 320px;
  }
  .Pomodoro{
    font-size: 11px;
    padding: 10px 15px;
  }
  .LB{
    font-size: 11px;
    padding: 10px 15px;

  }
  .SB{
    font-size: 11px;
    padding: 10px 15px;

  }
}