body{
    background: black;
    color: white;
    font-family: 'Inter Tight', sans-serif;
  
    box-sizing: border-box;
}
.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 200px;
    font-weight: 500;
    margin-top: 20px;
}
.container{
    font-weight: 500;
    
}
.Buttons{
    display: flex;
    margin:auto;
    gap: 20px;
    border-radius: 10%;
    border-radius: 20px;
    border-style: none;

    
}

.ButtonContainer{
    display: flex;
    font-weight: 500;
    align-items: center;
    position: relative;
    top: -188px;

}

.start{
    border: none;
    border-radius: 30px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    transition-property: color;
    transition-duration: 0.3s; /* Adjust the duration as needed */
    transition-timing-function: ease;
    cursor: pointer;
}
.start:hover
{
    color: white;
    background:black;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}


.stop{
    width: 100%;
    height: fit-content;
    position: relative;
    top: 5px;
    cursor: pointer;
}