body {
  background: black;
  color: white;
  font-family: "Inter Tight", sans-serif;
  box-sizing: border-box;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 190px;
}

.Buttons {
  display: flex;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 180px;
}

.Power {
  margin: 0 10px;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 20px;
  background: black;
  color: white;
  padding: 10px 45px;
  transition: background-color 0.2s;
}

.Power:hover {
  background-color: white;
  color: black;
  border: 1px solid transparent;
}

@media (max-width: 420px) {
  .timer {
    position: relative;
    top: 0;
    left: 0;
    font-size: 100px;
  }
  .Buttons{
    bottom: 100px;
  }

  .Power{
    padding: 10px 25px;
    font-size: 11px;

  }

}
